
header
{
    width:100%;
    background-color: #ADD8E6;
    height:300px;
}
#logo
{
    float:left;
    width:200px;
    height:200px;
    margin:10px;
}
footer
{   
    margin-top: 10px;
    background:	#ADD8E6;
}
.page
{
    background-color:#FFF8DC;
    margin-top:10px;
    width:960px;
}
#tr1,#tr3,#tr5
{
   background: green;
}
#tr2,#tr4
{
    background: hotpink;
}
table
{
    border: 1px solid black;
}
@media (max-width: 1199.98px)
{
    #tr1,#tr3,#tr5
{
   background: green;
}
#tr2,#tr4
{
    background: hotpink;
}
table
{
    border: 1px solid black;
}

}